info:
  title: 'GitLab API'
  version: 'v4'
swagger: '2.0'
produces:
  - 'application/json'
securityDefinitions:
  access_token_header:
    type: 'apiKey'
    name: 'PRIVATE-TOKEN'
    in: 'header'
  access_token_query:
    type: 'apiKey'
    name: 'private_token'
    in: 'query'
host: 'gitlab.com'
tags:
  - name: 'award_emoji'
    description: 'Operations about award_emoji'
  - name: 'badges'
    description: 'Operations about badges'
  - name: 'custom_attributes'
    description: 'Operations about custom_attributes'
  - name: 'groups'
    description: 'Operations about groups'
  - name: 'ldap'
    description: 'Operations about ldaps'
  - name: 'audit_events'
    description: 'Operations about audit_events'
  - name: 'keys'
    description: 'Operations about keys'
  - name: 'runners'
    description: 'Operations about runners'
  - name: 'packages'
    description: 'Operations about packages'
  - name: 'deploy_resources'
    description: 'Operations about deploy_resources'
  - name: 'avatars'
    description: 'Operations about avatars'
  - name: 'group_import_and_export'
    description: 'Operations about group_import_and_exports'
  - name: 'invitations'
    description: 'Operations about invitations'
  - name: 'members'
    description: 'Operations about members'
  - name: 'access_tokens'
    description: 'Operations about access_tokens'
  - name: 'search'
    description: 'Operations about searches'
  - name: 'wikis'
    description: 'Operations about wikis'
  - name: 'alert_management'
    description: 'Operations about alert_managements'
  - name: 'branches'
    description: 'Operations about branches'
  - name: 'ci_catalog'
    description: 'Operations about ci_catalogs'
  - name: 'job_artifacts'
    description: 'Operations about job_artifacts'
  - name: 'ci_jobs'
    description: 'Operations about ci_jobs'
  - name: 'secure_files'
    description: 'Operations about secure_files'
  - name: 'pipelines'
    description: 'Operations about pipelines'
  - name: 'pipeline_schedules'
    description: 'Operations about pipeline_schedules'
  - name: 'ci_triggers'
    description: 'Operations about ci_triggers'
  - name: 'commits'
    description: 'Operations about commits'
  - name: 'commit_statuses'
    description: 'Operations about commit_statuses'
  - name: 'draft_notes'
    description: 'Operations about draft_notes'
  - name: 'error_tracking'
    description: 'Operations about error_trackings'
  - name: 'files'
    description: 'Operations about files'
  - name: 'issues'
    description: 'Operations about issues'
  - name: 'metric_images'
    description: 'Operations about metric_images'
  - name: 'merge_request_approvals'
    description: 'Operations about merge_request_approvals'
  - name: 'gitlab_pages'
    description: 'Operations about gitlab_pages'
  - name: 'events'
    description: 'Operations about events'
  - name: 'hooks'
    description: 'Operations about hooks'
  - name: 'projects_job_token_scope'
    description: 'Operations about projects_job_token_scopes'
  - name: 'project_snapshots'
    description: 'Operations about project_snapshots'
  - name: 'snippets'
    description: 'Operations about snippets'
  - name: 'project_templates'
    description: 'Operations about project_templates'
  - name: 'protected_branches'
    description: 'Operations about protected_branches'
  - name: 'protected_tags'
    description: 'Operations about protected_tags'
  - name: 'remote_mirrors'
    description: 'Operations about remote_mirrors'
  - name: 'repositories'
    description: 'Operations about repositories'
  - name: 'resource_events'
    description: 'Operations about resource_events'
  - name: 'submodules'
    description: 'Operations about submodules'
  - name: 'attestations'
    description: 'Operations about attestations'
  - name: 'tags'
    description: 'Operations about tags'
  - name: 'terraform'
    description: 'Operations about terraforms'
  - name: 'batched_background_migrations'
    description: 'Operations about batched_background_migrations'
  - name: 'batched_background_operations'
    description: 'Operations about batched_background_operations'
  - name: 'database_dictionary'
    description: 'Operations about database_dictionaries'
  - name: 'migrations'
    description: 'Operations about migrations'
  - name: 'broadcast_messages'
    description: 'Operations about broadcast_messages'
  - name: 'applications'
    description: 'Operations about applications'
  - name: 'imports'
    description: 'Operations about imports'
  - name: 'agents'
    description: 'Operations about agents'
  - name: 'ci_runners'
    description: 'Operations about ci_runners'
  - name: 'jobs'
    description: 'Operations about jobs'
  - name: 'chaos'
    description: 'Operations about chaos'
  - name: 'glql'
    description: 'Operations about glqls'
  - name: 'internal_operations'
    description: 'Operations about internal_operations'
  - name: 'markdown'
    description: 'Operations about markdowns'
  - name: 'namespaces'
    description: 'Operations about namespaces'
  - name: 'offline_transfers'
    description: 'Operations about offline_transfers'
  - name: 'organizations'
    description: 'Operations about organizations'
  - name: 'unleash'
    description: 'Operations about unleashes'
  - name: 'usage_data'
    description: 'Operations about usage_data'
  - name: 'metrics'
    description: 'Operations about metrics'
  - name: 'users'
    description: 'Operations about users'
  - name: 'instance'
    description: 'Operations about instances'
  - name: 'project_topics'
    description: 'Operations about project_topics'
  - name: 'web_commits'
    description: 'Operations about web_commits'
  - name: 'access_requests'
    description: 'Operations related to access requests'
  - name: 'ci_lint'
    description: 'Operations related to linting a CI config file'
  - name: 'ci_resource_groups'
    description: 'Operations to manage job concurrency with resource groups'
  - name: 'ci_variables'
    description: 'Operations related to CI/CD variables'
  - name: 'cluster_agents'
    description: 'Operations related to the GitLab agent for Kubernetes'
  - name: 'clusters'
    description: 'Operations related to clusters'
  - name: 'composer_packages'
    description: 'Operations related to Composer packages'
  - name: 'conan_packages'
    description: 'Operations related to Conan packages'
  - name: 'container_registry'
    description: 'Operations related to container registry'
  - name: 'container_registry_event'
    description: 'Operations related to container registry events'
  - name: 'debian_distribution'
    description: 'Operations related to Debian Linux distributions'
  - name: 'debian_packages'
    description: 'Operations related to Debian Linux packages'
  - name: 'dependency_proxy'
    description: 'Operations to manage dependency proxy for a groups'
  - name: 'deploy_keys'
    description: 'Operations related to deploy keys'
  - name: 'deploy_tokens'
    description: 'Operations related to deploy tokens'
  - name: 'deployments'
    description: 'Operations related to deployments'
  - name: 'dora_metrics'
    description: 'Operations related to DevOps Research and Assessment (DORA) key metrics'
  - name: 'environments'
    description: 'Operations related to environments'
  - name: 'error_tracking_client_keys'
    description: 'Operations related to error tracking client keys'
  - name: 'error_tracking_project_settings'
    description: 'Operations related to error tracking project settings'
  - name: 'feature_flags_user_lists'
    description: 'Operations related to accessing GitLab feature flag user lists'
  - name: 'feature_flags'
    description: 'Operations related to feature flags'
  - name: 'features'
    description: 'Operations related to managing Flipper-based feature flags'
  - name: 'freeze_periods'
    description: 'Operations related to deploy freeze periods'
  - name: 'generic_packages'
    description: 'Operations related to Generic packages'
  - name: 'geo'
    description: 'Operations related to Geo'
  - name: 'geo_nodes'
    description: 'Operations related Geo Nodes'
  - name: 'go_proxy'
    description: 'Operations related to Go Proxy'
  - name: 'group_export'
    description: 'Operations related to exporting groups'
  - name: 'group_import'
    description: 'Operations related to importing groups'
  - name: 'group_packages'
    description: 'Operations related to group packages'
  - name: 'helm_packages'
    description: 'Operations related to Helm packages'
  - name: 'integrations'
    description: 'Operations related to integrations'
  - name: 'issue_links'
    description: 'Operations related to issue links'
  - name: 'jira_connect_subscriptions'
    description: 'Operations related to JiraConnect subscriptions'
  - name: 'maven_packages'
    description: 'Operations related to Maven packages'
  - name: 'merge_requests'
    description: 'Operations related to merge requests'
  - name: 'metadata'
    description: 'Operations related to metadata of the GitLab instance'
  - name: 'ml_model_registry'
    description: 'Operations related to Model registry'
  - name: 'npm_packages'
    description: 'Operations related to NPM packages'
  - name: 'nuget_packages'
    description: 'Operations related to Nuget packages'
  - name: 'package_files'
    description: 'Operations about package files'
  - name: 'plan_limits'
    description: 'Operations related to plan limits'
  - name: 'project_export'
    description: 'Operations related to exporting projects'
  - name: 'project_hooks'
    description: 'Operations related to project hooks'
  - name: 'project_import'
    description: 'Operations related to importing projects'
  - name: 'project_import_bitbucket'
    description: 'Operations related to importing BitBucket projects'
  - name: 'project_import_github'
    description: 'Operations related to importing GitHub projects'
  - name: 'project_packages'
    description: 'Operations related to project packages'
  - name: 'projects'
    description: 'Operations related to projects'
  - name: 'protected environments'
    description: 'Operations related to protected environments'
  - name: 'pypi_packages'
    description: 'Operations related to PyPI packages'
  - name: 'release_links'
    description: 'Operations related to release assets (links)'
  - name: 'releases'
    description: 'Operations related to releases'
  - name: 'resource_milestone_events'
    description: 'Operations about resource milestone events'
  - name: 'rpm_packages'
    description: 'Operations related to RPM packages'
  - name: 'rubygem_packages'
    description: 'Operations related to RubyGems'
  - name: 'suggestions'
    description: 'Operations related to suggestions'
  - name: 'system_hooks'
    description: 'Operations related to system hooks'
  - name: 'terraform_state'
    description: 'Operations related to Terraform state files'
  - name: 'terraform_registry'
    description: 'Operations related to the Terraform module registry'
  - name: 'unleash_api'
    description: 'Operations related to Unleash API'
paths:
  '/api/v4/groups/{id}/access_requests':
    get:
      summary: 'Gets a list of access requests for a group.'
      description: 'This feature was introduced in GitLab 8.11.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user'
          type: 'string'
          required: true
        - in: 'query'
          name: 'page'
          description: 'Current page number'
          type: 'integer'
          format: 'int32'
          default: 1
          required: false
          example: 1
        - in: 'query'
          name: 'per_page'
          description: 'Number of items per page'
          type: 'integer'
          format: 'int32'
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: 'Gets a list of access requests for a group.'
          schema:
            '$ref': '#/definitions/API_Entities_AccessRequester'
      tags:
        - 'access_requests'
      operationId: 'getApiV4GroupsIdAccessRequests'
    post:
      summary: 'Requests access for the authenticated user to a group.'
      description: 'This feature was introduced in GitLab 8.11.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user'
          type: 'string'
          required: true
      responses:
        '200':
          description: 'Requests access for the authenticated user to a group.'
          schema:
            '$ref': '#/definitions/API_Entities_AccessRequester'
      tags:
        - 'access_requests'
      operationId: 'postApiV4GroupsIdAccessRequests'
  '/api/v4/groups/{id}/access_requests/{user_id}/approve':
    put:
      summary: 'Approves an access request for the given user.'
      description: 'This feature was introduced in GitLab 8.11.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user'
          type: 'string'
          required: true
        - in: 'path'
          name: 'user_id'
          description: 'The user ID of the access requester'
          type: 'integer'
          format: 'int32'
          required: true
        - name: 'putApiV4GroupsIdAccessRequestsUserIdApprove'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/putApiV4GroupsIdAccessRequestsUserIdApprove'
      responses:
        '201':
          description: 'Approves an access request for the given user.'
          schema:
            '$ref': '#/definitions/API_Entities_Member'
      tags:
        - 'access_requests'
      operationId: 'putApiV4GroupsIdAccessRequestsUserIdApprove'
  '/api/v4/groups/{id}/access_requests/{user_id}':
    delete:
      summary: 'Denies an access request for the given user.'
      description: 'This feature was introduced in GitLab 8.11.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user'
          type: 'string'
          required: true
        - in: 'path'
          name: 'user_id'
          description: 'The user ID of the access requester'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '204':
          description: 'Denies an access request for the given user.'
      tags:
        - 'access_requests'
      operationId: 'deleteApiV4GroupsIdAccessRequestsUserId'
  '/api/v4/groups/{id}/epics/{epic_iid}/award_emoji':
    get:
      summary: 'List an awardable''s emoji reactions for groups'
      description: 'Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group'
          type: 'string'
          required: true
        - in: 'path'
          name: 'epic_iid'
          description: 'ID (`iid` for merge requests/issues/epics, `id` for snippets) of an awardable.'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'query'
          name: 'page'
          description: 'Current page number'
          type: 'integer'
          format: 'int32'
          default: 1
          required: false
          example: 1
        - in: 'query'
          name: 'per_page'
          description: 'Number of items per page'
          type: 'integer'
          format: 'int32'
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: 'List an awardable''s emoji reactions for groups'
          schema:
            type: 'array'
            items:
              '$ref': '#/definitions/API_Entities_AwardEmoji'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'getApiV4GroupsIdEpicsEpicIidAwardEmoji'
    post:
      summary: 'Add a new emoji reaction'
      description: 'Add an emoji reaction on the specified awardable. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
        - name: 'postApiV4GroupsIdEpicsEpicIidAwardEmoji'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/postApiV4GroupsIdEpicsEpicIidAwardEmoji'
      responses:
        '201':
          description: 'Add a new emoji reaction'
          schema:
            '$ref': '#/definitions/API_Entities_AwardEmoji'
        '400':
          description: 'Bad Request'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'postApiV4GroupsIdEpicsEpicIidAwardEmoji'
  '/api/v4/groups/{id}/epics/{epic_iid}/award_emoji/{award_id}':
    get:
      summary: 'Get a single emoji reaction'
      description: 'Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'award_id'
          description: 'ID of the emoji reaction.'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'Get a single emoji reaction'
          schema:
            '$ref': '#/definitions/API_Entities_AwardEmoji'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'getApiV4GroupsIdEpicsEpicIidAwardEmojiAwardId'
    delete:
      summary: 'Delete an emoji reaction'
      description: 'Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'award_id'
          description: 'ID of an emoji reaction.'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '204':
          description: 'Delete an emoji reaction'
        '401':
          description: 'Unauthorized'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'deleteApiV4GroupsIdEpicsEpicIidAwardEmojiAwardId'
  '/api/v4/groups/{id}/epics/{epic_iid}/notes/{note_id}/award_emoji':
    get:
      summary: 'List an awardable''s emoji reactions for groups'
      description: 'Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'query'
          name: 'page'
          description: 'Current page number'
          type: 'integer'
          format: 'int32'
          default: 1
          required: false
          example: 1
        - in: 'query'
          name: 'per_page'
          description: 'Number of items per page'
          type: 'integer'
          format: 'int32'
          default: 20
          required: false
          example: 20
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'note_id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'List an awardable''s emoji reactions for groups'
          schema:
            type: 'array'
            items:
              '$ref': '#/definitions/API_Entities_AwardEmoji'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'getApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji'
    post:
      summary: 'Add a new emoji reaction'
      description: 'Add an emoji reaction on the specified awardable. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'note_id'
          type: 'integer'
          format: 'int32'
          required: true
        - name: 'postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji'
      responses:
        '201':
          description: 'Add a new emoji reaction'
          schema:
            '$ref': '#/definitions/API_Entities_AwardEmoji'
        '400':
          description: 'Bad Request'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji'
  '/api/v4/groups/{id}/epics/{epic_iid}/notes/{note_id}/award_emoji/{award_id}':
    get:
      summary: 'Get a single emoji reaction'
      description: 'Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'award_id'
          description: 'ID of the emoji reaction.'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'note_id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'Get a single emoji reaction'
          schema:
            '$ref': '#/definitions/API_Entities_AwardEmoji'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'getApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmojiAwardId'
    delete:
      summary: 'Delete an emoji reaction'
      description: 'Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'award_id'
          description: 'ID of an emoji reaction.'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'epic_iid'
          type: 'integer'
          format: 'int32'
          required: true
        - in: 'path'
          name: 'note_id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '204':
          description: 'Delete an emoji reaction'
        '401':
          description: 'Unauthorized'
        '404':
          description: 'Not Found'
      tags:
        - 'award_emoji'
      operationId: 'deleteApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmojiAwardId'
  '/api/v4/groups/{id}/badges':
    get:
      summary: 'Gets a list of group badges viewable by the authenticated user.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - in: 'query'
          name: 'page'
          description: 'Current page number'
          type: 'integer'
          format: 'int32'
          default: 1
          required: false
          example: 1
        - in: 'query'
          name: 'per_page'
          description: 'Number of items per page'
          type: 'integer'
          format: 'int32'
          default: 20
          required: false
          example: 20
        - in: 'query'
          name: 'name'
          description: 'Name for the badge'
          type: 'string'
          required: false
      responses:
        '200':
          description: 'Gets a list of group badges viewable by the authenticated user.'
          schema:
            type: 'array'
            items:
              '$ref': '#/definitions/API_Entities_Badge'
      tags:
        - 'badges'
      operationId: 'getApiV4GroupsIdBadges'
    post:
      summary: 'Adds a badge to a group.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - name: 'postApiV4GroupsIdBadges'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/postApiV4GroupsIdBadges'
      responses:
        '201':
          description: 'Adds a badge to a group.'
          schema:
            '$ref': '#/definitions/API_Entities_Badge'
      tags:
        - 'badges'
      operationId: 'postApiV4GroupsIdBadges'
  '/api/v4/groups/{id}/badges/render':
    get:
      summary: 'Preview a badge from a group.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - in: 'query'
          name: 'link_url'
          description: 'URL of the badge link'
          type: 'string'
          required: true
        - in: 'query'
          name: 'image_url'
          description: 'URL of the badge image'
          type: 'string'
          required: true
      responses:
        '200':
          description: 'Preview a badge from a group.'
          schema:
            '$ref': '#/definitions/API_Entities_BasicBadgeDetails'
      tags:
        - 'badges'
      operationId: 'getApiV4GroupsIdBadgesRender'
  '/api/v4/groups/{id}/badges/{badge_id}':
    get:
      summary: 'Gets a badge of a group.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - in: 'path'
          name: 'badge_id'
          description: 'The badge ID'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'Gets a badge of a group.'
          schema:
            '$ref': '#/definitions/API_Entities_Badge'
      tags:
        - 'badges'
      operationId: 'getApiV4GroupsIdBadgesBadgeId'
    put:
      summary: 'Updates a badge of a group.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - in: 'path'
          name: 'badge_id'
          type: 'integer'
          format: 'int32'
          required: true
        - name: 'putApiV4GroupsIdBadgesBadgeId'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/putApiV4GroupsIdBadgesBadgeId'
      responses:
        '200':
          description: 'Updates a badge of a group.'
          schema:
            '$ref': '#/definitions/API_Entities_Badge'
      tags:
        - 'badges'
      operationId: 'putApiV4GroupsIdBadgesBadgeId'
    delete:
      summary: 'Removes a badge from the group.'
      description: 'This feature was introduced in GitLab 10.6.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID or URL-encoded path of the group owned by the authenticated user.'
          type: 'string'
          required: true
        - in: 'path'
          name: 'badge_id'
          description: 'The badge ID'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '204':
          description: 'Removes a badge from the group.'
      tags:
        - 'badges'
      operationId: 'deleteApiV4GroupsIdBadgesBadgeId'
  '/api/v4/groups/{id}/custom_attributes':
    get:
      description: 'Get all custom attributes on a group'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'Get all custom attributes on a group'
          schema:
            '$ref': '#/definitions/API_Entities_CustomAttribute'
      tags:
        - 'custom_attributes'
      operationId: 'getApiV4GroupsIdCustomAttributes'
  '/api/v4/groups/{id}/custom_attributes/{key}':
    get:
      description: 'Get a custom attribute on a group'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'key'
          description: 'The key of the custom attribute'
          type: 'string'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '200':
          description: 'Get a custom attribute on a group'
          schema:
            '$ref': '#/definitions/API_Entities_CustomAttribute'
      tags:
        - 'custom_attributes'
      operationId: 'getApiV4GroupsIdCustomAttributesKey'
    put:
      description: 'Set a custom attribute on a group'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'key'
          description: 'The key of the custom attribute'
          type: 'string'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
        - name: 'putApiV4GroupsIdCustomAttributesKey'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/putApiV4GroupsIdCustomAttributesKey'
      responses:
        '200':
          description: 'Set a custom attribute on a group'
          schema:
            '$ref': '#/definitions/API_Entities_CustomAttribute'
      tags:
        - 'custom_attributes'
      operationId: 'putApiV4GroupsIdCustomAttributesKey'
    delete:
      description: 'Delete a custom attribute on a group'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'key'
          description: 'The key of the custom attribute'
          type: 'string'
          required: true
        - in: 'path'
          name: 'id'
          type: 'integer'
          format: 'int32'
          required: true
      responses:
        '204':
          description: 'Delete a custom attribute on a group'
      tags:
        - 'custom_attributes'
      operationId: 'deleteApiV4GroupsIdCustomAttributesKey'
  /api/v4/groups:
    get:
      description: 'Get a groups list'
      produces:
        - 'application/json'
      parameters:
        - in: 'query'
          name: 'statistics'
          description: 'Include project statistics'
          type: 'boolean'
          default: false
          required: false
        - in: 'query'
          name: 'archived'
          description: 'Limit by archived status'
          type: 'boolean'
          required: false
        - in: 'query'
          name: 'skip_groups'
          description: 'Array of group ids to exclude from list'
          type: 'array'
          items:
            type: 'integer'
            format: 'int32'
          required: false
        - in: 'query'
          name: 'all_available'
          description: 'When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.'
          type: 'boolean'
          required: false
        - in: 'query'
          name: 'visibility'
          description: 'Limit by visibility'
          type: 'string'
          enum:
            - 'private'
            - 'internal'
            - 'public'
          required: false
        - in: 'query'
          name: 'search'
          description: 'Search for a specific group'
          type: 'string'
          required: false
        - in: 'query'
          name: 'owned'
          description: 'Limit by owned by authenticated user'
          type: 'boolean'
          default: false
          required: false
        - in: 'query'
          name: 'order_by'
          description: 'Order by name, path, id or similarity if searching'
          type: 'string'
          default: 'name'
          enum:
            - 'name'
            - 'path'
            - 'id'
            - 'similarity'
          required: false
        - in: 'query'
          name: 'sort'
          description: 'Sort by asc (ascending) or desc (descending)'
          type: 'string'
          default: 'asc'
          enum:
            - 'asc'
            - 'desc'
          required: false
        - in: 'query'
          name: 'min_access_level'
          description: 'Minimum access level of authenticated user'
          type: 'integer'
          format: 'int32'
          enum:
            - 10
            - 15
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: 'query'
          name: 'top_level_only'
          description: 'Only include top-level groups'
          type: 'boolean'
          required: false
        - in: 'query'
          name: 'marked_for_deletion_on'
          description: 'Return groups that are marked for deletion on this date'
          type: 'string'
          format: 'date'
          required: false
        - in: 'query'
          name: 'active'
          description: 'Limit by groups that are not archived and not marked for deletion'
          type: 'boolean'
          required: false
        - in: 'query'
          name: 'repository_storage'
          description: 'Filter by repository storage used by the group'
          type: 'string'
          required: false
        - in: 'query'
          name: 'page'
          description: 'Current page number'
          type: 'integer'
          format: 'int32'
          default: 1
          required: false
          example: 1
        - in: 'query'
          name: 'per_page'
          description: 'Number of items per page'
          type: 'integer'
          format: 'int32'
          default: 20
          required: false
          example: 20
        - in: 'query'
          name: 'with_custom_attributes'
          description: 'Include custom attributes in the response'
          type: 'boolean'
          default: false
          required: false
      responses:
        '200':
          description: 'Get a groups list'
          schema:
            type: 'array'
            items:
              '$ref': '#/definitions/API_Entities_Group'
      tags:
        - 'groups'
      operationId: 'getApiV4Groups'
    post:
      description: 'Create a group. Available only for users who can create groups.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - name: 'postApiV4Groups'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/postApiV4Groups'
      responses:
        '201':
          description: 'Create a group. Available only for users who can create groups.'
          schema:
            '$ref': '#/definitions/API_Entities_Group'
      tags:
        - 'groups'
      operationId: 'postApiV4Groups'
  '/api/v4/groups/{id}':
    put:
      description: 'Update a group. Available only for users who can administrate groups.'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID of a group'
          type: 'string'
          required: true
        - name: 'putApiV4GroupsId'
          in: 'body'
          required: true
          schema:
            '$ref': '#/definitions/putApiV4GroupsId'
      responses:
        '200':
          description: 'Update a group. Available only for users who can administrate groups.'
          schema:
            '$ref': '#/definitions/API_Entities_Group'
      tags:
        - 'groups'
      operationId: 'putApiV4GroupsId'
    get:
      description: 'Get a single group, with containing projects.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID of a group'
          type: 'string'
          required: true
        - in: 'query'
          name: 'with_custom_attributes'
          description: 'Include custom attributes in the response'
          type: 'boolean'
          default: false
          required: false
        - in: 'query'
          name: 'with_projects'
          description: 'Omit project details'
          type: 'boolean'
          default: true
          required: false
      responses:
        '200':
          description: 'Get a single group, with containing projects.'
          schema:
            '$ref': '#/definitions/API_Entities_GroupDetail'
      tags:
        - 'groups'
      operationId: 'getApiV4GroupsId'
    delete:
      description: 'Remove a group.'
      produces:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID of a group'
          type: 'string'
          required: true
      responses:
        '204':
          description: 'Remove a group.'
      tags:
        - 'groups'
      operationId: 'deleteApiV4GroupsId'
  '/api/v4/groups/{id}/archive':
    post:
      description: 'Archive a group'
      produces:
        - 'application/json'
      consumes:
        - 'application/json'
      parameters:
        - in: 'path'
          name: 'id'
          description: 'The ID of a group'
          type: 'string'
          required: true
      responses:
        '200':
          description: 'Archive a group'
          schema:
            '$ref': '#/definitions/API_Entities_Group'
        '403':
          description: 'Unauthenticated'
      tags:
        - 'groups'
      operationId: 'postApiV4GroupsIdArchive'
definitions:
  API_Entities_AccessRequester:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      username:
        type: 'string'
        example: 'admin'
      public_email:
        type: 'string'
        example: 'john@example.com'
      name:
        type: 'string'
        example: 'Administrator'
      state:
        type: 'string'
        example: 'active'
      locked:
        type: 'boolean'
      avatar_url:
        type: 'string'
        example: 'https://gravatar.com/avatar/1'
      avatar_path:
        type: 'string'
        example: '/user/avatar/28/The-Big-Lebowski-400-400.png'
      custom_attributes:
        type: 'array'
        items:
          '$ref': '#/definitions/API_Entities_CustomAttribute'
      web_url:
        type: 'string'
        example: 'https://gitlab.example.com/root'
      requested_at:
        type: 'string'
    required:
      - 'id'
      - 'username'
      - 'public_email'
      - 'name'
      - 'state'
      - 'locked'
      - 'avatar_url'
      - 'web_url'
      - 'requested_at'
    description: 'API_Entities_AccessRequester model'
  API_Entities_CustomAttribute:
    type: 'object'
    properties:
      key:
        type: 'string'
        example: 'foo'
      value:
        type: 'string'
        example: 'bar'
    required:
      - 'key'
      - 'value'
    description: 'API_Entities_CustomAttribute model'
  putApiV4GroupsIdAccessRequestsUserIdApprove:
    type: 'object'
    properties:
      access_level:
        type: 'integer'
        format: 'int32'
        description: 'A valid access level (defaults: `30`, the Developer role)'
        default: 30
    description: 'Approves an access request for the given user.'
  API_Entities_Member:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      username:
        type: 'string'
        example: 'admin'
      public_email:
        type: 'string'
        example: 'john@example.com'
      name:
        type: 'string'
        example: 'Administrator'
      state:
        type: 'string'
        example: 'active'
      locked:
        type: 'boolean'
      avatar_url:
        type: 'string'
        example: 'https://gravatar.com/avatar/1'
      avatar_path:
        type: 'string'
        example: '/user/avatar/28/The-Big-Lebowski-400-400.png'
      custom_attributes:
        type: 'array'
        items:
          '$ref': '#/definitions/API_Entities_CustomAttribute'
      web_url:
        type: 'string'
        example: 'https://gitlab.example.com/root'
      access_level:
        type: 'string'
      created_at:
        type: 'string'
      created_by:
        '$ref': '#/definitions/API_Entities_UserBasic'
      expires_at:
        type: 'string'
      group_saml_identity:
        '$ref': '#/definitions/API_Entities_Identity'
      group_scim_identity:
        '$ref': '#/definitions/API_Entities_ScimIdentity'
      email:
        type: 'string'
      is_using_seat:
        type: 'string'
      override:
        type: 'string'
      membership_state:
        type: 'string'
      member_role:
        '$ref': '#/definitions/API_Entities_MemberRole'
    required:
      - 'id'
      - 'username'
      - 'public_email'
      - 'name'
      - 'state'
      - 'locked'
      - 'avatar_url'
      - 'web_url'
      - 'access_level'
      - 'created_at'
      - 'expires_at'
      - 'membership_state'
    description: 'API_Entities_Member model'
  API_Entities_UserBasic:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      username:
        type: 'string'
        example: 'admin'
      public_email:
        type: 'string'
        example: 'john@example.com'
      name:
        type: 'string'
        example: 'Administrator'
      state:
        type: 'string'
        example: 'active'
      locked:
        type: 'boolean'
      avatar_url:
        type: 'string'
        example: 'https://gravatar.com/avatar/1'
      avatar_path:
        type: 'string'
        example: '/user/avatar/28/The-Big-Lebowski-400-400.png'
      custom_attributes:
        type: 'array'
        items:
          '$ref': '#/definitions/API_Entities_CustomAttribute'
      web_url:
        type: 'string'
        example: 'https://gitlab.example.com/root'
    required:
      - 'id'
      - 'username'
      - 'public_email'
      - 'name'
      - 'state'
      - 'locked'
      - 'avatar_url'
      - 'web_url'
    description: 'API_Entities_UserBasic model'
  API_Entities_Identity:
    type: 'object'
    properties:
      provider:
        type: 'string'
      extern_uid:
        type: 'string'
      saml_provider_id:
        type: 'string'
    required:
      - 'provider'
      - 'extern_uid'
      - 'saml_provider_id'
  API_Entities_ScimIdentity:
    type: 'object'
    properties:
      extern_uid:
        type: 'string'
      group_id:
        type: 'string'
      active:
        type: 'string'
    required:
      - 'extern_uid'
      - 'group_id'
      - 'active'
  API_Entities_MemberRole:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 2
      group_id:
        type: 'integer'
        format: 'int32'
        example: 2
      name:
        type: 'text'
        example: 'Custom guest'
      description:
        type: 'text'
        example: 'Guest user who can also read_code'
      base_access_level:
        type: 'integer'
        format: 'int32'
        enum:
          - 5
          - 10
          - 15
          - 20
          - 30
          - 40
        example: 40
      apply_security_scan_profiles:
        type: 'boolean'
      admin_merge_request:
        type: 'boolean'
      archive_project:
        type: 'boolean'
      admin_ai_catalog_item_consumer:
        type: 'boolean'
      remove_project:
        type: 'boolean'
      remove_group:
        type: 'boolean'
      manage_security_policy_link:
        type: 'boolean'
      admin_ai_catalog_item:
        type: 'boolean'
      admin_compliance_framework:
        type: 'boolean'
      admin_cicd_variables:
        type: 'boolean'
      manage_deploy_tokens:
        type: 'boolean'
      manage_group_access_tokens:
        type: 'boolean'
      admin_group_member:
        type: 'boolean'
      admin_integrations:
        type: 'boolean'
      manage_merge_request_settings:
        type: 'boolean'
      manage_project_access_tokens:
        type: 'boolean'
      admin_protected_branch:
        type: 'boolean'
      admin_protected_environments:
        type: 'boolean'
      admin_push_rules:
        type: 'boolean'
      admin_runners:
        type: 'boolean'
      admin_security_attributes:
        type: 'boolean'
      admin_terraform_state:
        type: 'boolean'
      admin_vulnerability:
        type: 'boolean'
      admin_web_hook:
        type: 'boolean'
      read_compliance_dashboard:
        type: 'boolean'
      read_security_scan_profiles:
        type: 'boolean'
      read_virtual_registry:
        type: 'boolean'
      update_sast_vulnerability_resolution_setting:
        type: 'boolean'
      read_admin_cicd:
        type: 'boolean'
      read_crm_contact:
        type: 'boolean'
      read_dependency:
        type: 'boolean'
      read_admin_groups:
        type: 'boolean'
      read_admin_projects:
        type: 'boolean'
      read_code:
        type: 'boolean'
      read_runners:
        type: 'boolean'
      read_security_attribute:
        type: 'boolean'
      read_admin_subscription:
        type: 'boolean'
      read_admin_monitoring:
        type: 'boolean'
      read_admin_users:
        type: 'boolean'
      read_vulnerability:
        type: 'boolean'
    required:
      - 'id'
      - 'group_id'
      - 'name'
      - 'description'
      - 'base_access_level'
      - 'apply_security_scan_profiles'
      - 'admin_merge_request'
      - 'archive_project'
      - 'admin_ai_catalog_item_consumer'
      - 'remove_project'
      - 'remove_group'
      - 'manage_security_policy_link'
      - 'admin_ai_catalog_item'
      - 'admin_compliance_framework'
      - 'admin_cicd_variables'
      - 'manage_deploy_tokens'
      - 'manage_group_access_tokens'
      - 'admin_group_member'
      - 'admin_integrations'
      - 'manage_merge_request_settings'
      - 'manage_project_access_tokens'
      - 'admin_protected_branch'
      - 'admin_protected_environments'
      - 'admin_push_rules'
      - 'admin_runners'
      - 'admin_security_attributes'
      - 'admin_terraform_state'
      - 'admin_vulnerability'
      - 'admin_web_hook'
      - 'read_compliance_dashboard'
      - 'read_security_scan_profiles'
      - 'read_virtual_registry'
      - 'update_sast_vulnerability_resolution_setting'
      - 'read_admin_cicd'
      - 'read_crm_contact'
      - 'read_dependency'
      - 'read_admin_groups'
      - 'read_admin_projects'
      - 'read_code'
      - 'read_runners'
      - 'read_security_attribute'
      - 'read_admin_subscription'
      - 'read_admin_monitoring'
      - 'read_admin_users'
      - 'read_vulnerability'
  API_Entities_AwardEmoji:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      name:
        type: 'string'
        example: 'lizard'
      user:
        '$ref': '#/definitions/API_Entities_UserBasic'
      created_at:
        type: 'string'
        format: 'date-time'
        example: '2019-01-10T13:39:08Z'
      updated_at:
        type: 'string'
        format: 'date-time'
        example: '2020-06-28T10:52:04Z'
      awardable_id:
        type: 'integer'
        format: 'int32'
        example: 42
      awardable_type:
        type: 'string'
        example: 'Issue'
      url:
        type: 'string'
        example: 'https://example.com/emojis/example.gif'
    required:
      - 'id'
      - 'name'
      - 'user'
      - 'created_at'
      - 'updated_at'
      - 'awardable_id'
      - 'awardable_type'
      - 'url'
    description: 'API_Entities_AwardEmoji model'
  postApiV4GroupsIdEpicsEpicIidAwardEmoji:
    type: 'object'
    properties:
      name:
        type: 'string'
        description: 'Name of the emoji without colons.'
    required:
      - 'name'
    description: 'Add a new emoji reaction'
  postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji:
    type: 'object'
    properties:
      name:
        type: 'string'
        description: 'Name of the emoji without colons.'
    required:
      - 'name'
    description: 'Add a new emoji reaction'
  API_Entities_Badge:
    type: 'object'
    properties:
      name:
        type: 'string'
        example: 'Pipeline Status'
      link_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      image_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      rendered_link_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      rendered_image_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      kind:
        type: 'string'
        example: 'project'
    required:
      - 'name'
      - 'link_url'
      - 'image_url'
      - 'rendered_link_url'
      - 'rendered_image_url'
      - 'id'
      - 'kind'
    description: 'API_Entities_Badge model'
  API_Entities_BasicBadgeDetails:
    type: 'object'
    properties:
      name:
        type: 'string'
        example: 'Pipeline Status'
      link_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      image_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      rendered_link_url:
        type: 'string'
        example: 'https://example.gitlab.com'
      rendered_image_url:
        type: 'string'
        example: 'https://example.gitlab.com'
    required:
      - 'name'
      - 'link_url'
      - 'image_url'
      - 'rendered_link_url'
      - 'rendered_image_url'
    description: 'API_Entities_BasicBadgeDetails model'
  postApiV4GroupsIdBadges:
    type: 'object'
    properties:
      link_url:
        type: 'string'
        description: 'URL of the badge link'
      image_url:
        type: 'string'
        description: 'URL of the badge image'
      name:
        type: 'string'
        description: 'Name for the badge'
    required:
      - 'link_url'
      - 'image_url'
    description: 'Adds a badge to a group.'
  putApiV4GroupsIdBadgesBadgeId:
    type: 'object'
    properties:
      link_url:
        type: 'string'
        description: 'URL of the badge link'
      image_url:
        type: 'string'
        description: 'URL of the badge image'
      name:
        type: 'string'
        description: 'Name for the badge'
    description: 'Updates a badge of a group.'
  putApiV4GroupsIdCustomAttributesKey:
    type: 'object'
    properties:
      value:
        type: 'string'
        description: 'The value of the custom attribute'
    required:
      - 'value'
    description: 'Set a custom attribute on a group'
  API_Entities_Group:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
      web_url:
        type: 'string'
        example: 'http://gitlab.example.com/groups/diaspora'
      name:
        type: 'string'
        example: 'Diaspora'
      path:
        type: 'string'
      description:
        type: 'string'
      visibility:
        type: 'string'
      share_with_group_lock:
        type: 'boolean'
      require_two_factor_authentication:
        type: 'boolean'
      two_factor_grace_period:
        type: 'integer'
        format: 'int32'
      project_creation_level:
        type: 'string'
      auto_devops_enabled:
        type: 'string'
      subgroup_creation_level:
        type: 'string'
      emails_disabled:
        type: 'boolean'
      emails_enabled:
        type: 'boolean'
      show_diff_preview_in_email:
        type: 'boolean'
      mentions_disabled:
        type: 'string'
      lfs_enabled:
        type: 'boolean'
      archived:
        type: 'boolean'
      math_rendering_limits_enabled:
        type: 'boolean'
      lock_math_rendering_limits_enabled:
        type: 'boolean'
      default_branch:
        type: 'string'
      default_branch_protection:
        type: 'integer'
        format: 'int32'
      default_branch_protection_defaults:
        type: 'string'
      avatar_url:
        type: 'string'
      request_access_enabled:
        type: 'boolean'
      full_name:
        type: 'string'
      full_path:
        type: 'string'
      created_at:
        type: 'string'
      parent_id:
        type: 'string'
      organization_id:
        type: 'integer'
        format: 'int32'
      shared_runners_setting:
        type: 'string'
      max_artifacts_size:
        type: 'integer'
        format: 'int32'
      custom_attributes:
        '$ref': '#/definitions/API_Entities_CustomAttribute'
      statistics:
        type: 'object'
        properties:
          storage_size:
            type: 'string'
          repository_size:
            type: 'string'
          wiki_size:
            type: 'string'
          lfs_objects_size:
            type: 'string'
          job_artifacts_size:
            type: 'string'
          pipeline_artifacts_size:
            type: 'string'
          packages_size:
            type: 'string'
          snippets_size:
            type: 'string'
          uploads_size:
            type: 'string'
        required:
          - 'storage_size'
          - 'repository_size'
          - 'wiki_size'
          - 'lfs_objects_size'
          - 'job_artifacts_size'
          - 'pipeline_artifacts_size'
          - 'packages_size'
          - 'snippets_size'
          - 'uploads_size'
      marked_for_deletion_on:
        type: 'string'
      root_storage_statistics:
        '$ref': '#/definitions/API_Entities_Namespace_RootStorageStatistics'
      ldap_cn:
        type: 'string'
      ldap_access:
        type: 'string'
      ldap_group_links:
        '$ref': '#/definitions/API_Entities_LdapGroupLink'
      saml_group_links:
        '$ref': '#/definitions/API_Entities_SamlGroupLink'
      file_template_project_id:
        type: 'string'
      wiki_access_level:
        type: 'string'
      repository_storage:
        type: 'string'
      duo_core_features_enabled:
        type: 'boolean'
        description: '[Experimental] Indicates whether GitLab Duo Core features are enabled for the group'
      duo_features_enabled:
        type: 'string'
      lock_duo_features_enabled:
        type: 'string'
      auto_duo_code_review_enabled:
        type: 'string'
      web_based_commit_signing_enabled:
        type: 'string'
      allow_personal_snippets:
        type: 'string'
      duo_namespace_access_rules:
        type: 'string'
      built_in_project_templates_enabled:
        type: 'boolean'
      lock_built_in_project_templates_enabled:
        type: 'boolean'
    required:
      - 'id'
      - 'web_url'
      - 'name'
      - 'path'
      - 'description'
      - 'visibility'
      - 'share_with_group_lock'
      - 'require_two_factor_authentication'
      - 'two_factor_grace_period'
      - 'project_creation_level'
      - 'auto_devops_enabled'
      - 'subgroup_creation_level'
      - 'emails_disabled'
      - 'emails_enabled'
      - 'show_diff_preview_in_email'
      - 'mentions_disabled'
      - 'lfs_enabled'
      - 'archived'
      - 'math_rendering_limits_enabled'
      - 'lock_math_rendering_limits_enabled'
      - 'default_branch'
      - 'default_branch_protection'
      - 'default_branch_protection_defaults'
      - 'avatar_url'
      - 'request_access_enabled'
      - 'full_name'
      - 'full_path'
      - 'created_at'
      - 'parent_id'
      - 'organization_id'
      - 'shared_runners_setting'
      - 'max_artifacts_size'
      - 'marked_for_deletion_on'
      - 'ldap_cn'
      - 'ldap_access'
      - 'wiki_access_level'
    description: 'API_Entities_Group model'
  API_Entities_Namespace_RootStorageStatistics:
    type: 'object'
    properties:
      build_artifacts_size:
        type: 'integer'
        format: 'int32'
        description: 'CI artifacts size in bytes.'
      container_registry_size:
        type: 'integer'
        format: 'int32'
        description: 'container registry size in bytes.'
      container_registry_size_is_estimated:
        type: 'boolean'
        description: 'Indicates whether the deduplicated container registry size for the namespace is an estimated value or not.'
      dependency_proxy_size:
        type: 'integer'
        format: 'int32'
        description: 'Dependency Proxy sizes in bytes.'
      lfs_objects_size:
        type: 'integer'
        format: 'int32'
        description: 'LFS objects size in bytes.'
      packages_size:
        type: 'integer'
        format: 'int32'
        description: 'Packages size in bytes.'
      pipeline_artifacts_size:
        type: 'integer'
        format: 'int32'
        description: 'CI pipeline artifacts size in bytes.'
      repository_size:
        type: 'integer'
        format: 'int32'
        description: 'Git repository size in bytes.'
      snippets_size:
        type: 'integer'
        format: 'int32'
        description: 'Snippets size in bytes.'
      storage_size:
        type: 'integer'
        format: 'int32'
        description: 'Total storage in bytes.'
      uploads_size:
        type: 'integer'
        format: 'int32'
        description: 'Uploads size in bytes.'
      wiki_size:
        type: 'integer'
        format: 'int32'
        description: 'Wiki size in bytes.'
    required:
      - 'build_artifacts_size'
      - 'container_registry_size'
      - 'container_registry_size_is_estimated'
      - 'dependency_proxy_size'
      - 'lfs_objects_size'
      - 'packages_size'
      - 'pipeline_artifacts_size'
      - 'repository_size'
      - 'snippets_size'
      - 'storage_size'
      - 'uploads_size'
      - 'wiki_size'
  API_Entities_LdapGroupLink:
    type: 'object'
    properties:
      cn:
        type: 'string'
        example: 'ldap-group-1'
      group_access:
        type: 'integer'
        format: 'int32'
        example: 10
      provider:
        type: 'string'
        example: 'ldapmain'
      filter:
        type: 'string'
        example: 'id >= 500'
      member_role_id:
        type: 'integer'
        format: 'int32'
        example: 12
    required:
      - 'cn'
      - 'group_access'
      - 'provider'
  API_Entities_SamlGroupLink:
    type: 'object'
    properties:
      name:
        type: 'string'
        example: 'saml-group-1'
      access_level:
        type: 'integer'
        format: 'int32'
        example: 40
      member_role_id:
        type: 'integer'
        format: 'int32'
        example: 12
      provider:
        type: 'string'
        example: 'saml'
    required:
      - 'name'
      - 'access_level'
      - 'provider'
  postApiV4Groups:
    type: 'object'
    properties:
      name:
        type: 'string'
        description: 'The name of the group'
      path:
        type: 'string'
        description: 'The path of the group'
      parent_id:
        type: 'integer'
        format: 'int32'
        description: 'The parent group id for creating nested group'
      organization_id:
        type: 'integer'
        format: 'int32'
        description: 'The organization id for the group'
        default: {}
      description:
        type: 'string'
        description: 'The description of the group'
      visibility:
        type: 'string'
        description: 'The visibility of the group'
        enum:
          - 'private'
          - 'internal'
          - 'public'
      avatar:
        type: 'file'
        description: 'Avatar image for the group'
      share_with_group_lock:
        type: 'boolean'
        description: 'Prevent sharing a project with another group within this group'
      require_two_factor_authentication:
        type: 'boolean'
        description: 'Require all users in this group to setup Two-factor authentication'
      two_factor_grace_period:
        type: 'integer'
        format: 'int32'
        description: 'Time before Two-factor authentication is enforced'
      project_creation_level:
        type: 'string'
        description: 'Determine if developers can create projects in the group'
        enum:
          - 'noone'
          - 'owner'
          - 'maintainer'
          - 'developer'
          - 'administrator'
      auto_devops_enabled:
        type: 'boolean'
        description: 'Default to Auto DevOps pipeline for all projects within this group'
      subgroup_creation_level:
        type: 'string'
        description: 'Allowed to create subgroups'
        enum:
          - 'owner'
          - 'maintainer'
      emails_disabled:
        type: 'boolean'
        description: '_(Deprecated)_ Disable email notifications. Use: emails_enabled'
      emails_enabled:
        type: 'boolean'
        description: 'Enable email notifications'
      show_diff_preview_in_email:
        type: 'boolean'
        description: 'Include the code diff preview in merge request notification emails'
      mentions_disabled:
        type: 'boolean'
        description: 'Disable a group from getting mentioned'
      lfs_enabled:
        type: 'boolean'
        description: 'Enable/disable LFS for the projects in this group'
      request_access_enabled:
        type: 'boolean'
        description: 'Allow users to request member access'
      default_branch:
        type: 'string'
        description: 'The default branch of group''s projects'
        example: 'main'
      default_branch_protection:
        type: 'integer'
        format: 'int32'
        description: 'Determine if developers can push to default branch'
        enum:
          - 0
          - 3
          - 1
          - 2
          - 4
      default_branch_protection_defaults:
        type: 'object'
        description: 'Determine if developers can push to default branch'
        properties:
          allowed_to_push:
            type: 'array'
            description: 'An array of access levels allowed to push'
            items:
              type: 'object'
              properties:
                access_level:
                  type: 'integer'
                  format: 'int32'
                  description: 'A valid access level'
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - 'access_level'
          allow_force_push:
            type: 'boolean'
            description: 'Allow force push for all users with push access.'
          allowed_to_merge:
            type: 'array'
            description: 'An array of access levels allowed to merge'
            items:
              type: 'object'
              properties:
                access_level:
                  type: 'integer'
                  format: 'int32'
                  description: 'A valid access level'
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - 'access_level'
          code_owner_approval_required:
            type: 'boolean'
            description: 'Require approval from code owners'
          developer_can_initial_push:
            type: 'boolean'
            description: 'Allow developers to initial push'
      enabled_git_access_protocol:
        type: 'string'
        description: 'Allow only the selected protocols to be used for Git access.'
        enum:
          - 'ssh'
          - 'http'
          - 'all'
      membership_lock:
        type: 'boolean'
        description: 'Prevent adding new members to projects within this group'
      ldap_cn:
        type: 'string'
        description: 'LDAP Common Name'
      ldap_access:
        type: 'integer'
        format: 'int32'
        description: 'A valid access level'
      shared_runners_minutes_limit:
        type: 'integer'
        format: 'int32'
        description: '(admin-only) compute minutes quota for this group'
      extra_shared_runners_minutes_limit:
        type: 'integer'
        format: 'int32'
        description: '(admin-only) Extra compute minutes quota for this group'
      wiki_access_level:
        type: 'string'
        description: 'Wiki access level. One of `disabled`, `private` or `enabled`'
        enum:
          - 'disabled'
          - 'private'
          - 'enabled'
      duo_availability:
        type: 'string'
        description: 'Duo availability. One of `default_on`, `default_off` or `never_on`'
        enum:
          - 'default_on'
          - 'default_off'
          - 'never_on'
      duo_remote_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo remote flows for this group'
      duo_foundational_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab foundational Duo flows for this group'
      duo_custom_agents_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo custom agents for this group'
      duo_custom_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo custom flows for this group'
      duo_external_agents_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo external agents for this group'
      tool_approval_for_session_availability:
        type: 'string'
        description: 'Tool approval for session availability. One of `default_on`, `default_off` or `never_on`'
        enum:
          - 'default_on'
          - 'default_off'
          - 'never_on'
      amazon_q_auto_review_enabled:
        type: 'boolean'
        description: 'Enable Amazon Q auto review for merge request'
      experiment_features_enabled:
        type: 'boolean'
        description: 'Enable experiment features for this group'
      model_prompt_cache_enabled:
        type: 'boolean'
        description: 'Enable model prompt cache for this group'
      foundational_agents_statuses:
        type: 'array'
        description: 'Whether each foundational agent has been enabled or disabled.'
        items:
          type: 'object'
          properties:
            reference:
              type: 'string'
              description: 'Reference of the foundational agent.'
            enabled:
              type: 'boolean'
              description: 'Whether foundational agent has been enabled or disabled.'
          required:
            - 'reference'
            - 'enabled'
      ai_settings_attributes:
        type: 'object'
        description: 'AI-related settings'
        properties:
          duo_agent_platform_enabled:
            type: 'boolean'
            description: 'Whether Duo Agent Platform features are enabled'
          duo_workflow_mcp_enabled:
            type: 'boolean'
            description: 'Enable MCP support for Duo Agent Platform'
          ai_usage_data_collection_enabled:
            type: 'boolean'
            description: 'Enable AI usage data collection for this namespace'
          ai_catalog_restricted_to_group_hierarchy:
            type: 'boolean'
            description: 'Restrict the AI Catalog to items within this top-level group hierarchy'
          foundational_agents_default_enabled:
            type: 'boolean'
            description: 'Whether new foundational agents are enabled by default'
          prompt_injection_protection_level:
            type: 'string'
            description: 'Prompt injection protection level. One of `no_checks`, `log_only` or `interrupt`'
            enum:
              - 'no_checks'
              - 'log_only'
              - 'interrupt'
          include_recommended_allowed:
            type: 'boolean'
            description: 'Whether to include recommended domains in the network access allowlist'
          allow_all_unix_sockets:
            type: 'boolean'
            description: 'Whether to allow all Unix sockets for network access'
          allow_project_extension:
            type: 'boolean'
            description: 'Whether to allow projects to extend the network access domain allowlist'
          minimum_access_level_execute:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to execute Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 10
              - 15
              - 20
              - 30
              - 40
              - 50
          minimum_access_level_execute_async:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to execute Duo Agent Platform features in CI/CD. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
          minimum_access_level_manage:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to manage Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
          minimum_access_level_enable_on_projects:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to enable Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
    required:
      - 'name'
      - 'path'
    description: 'Create a group. Available only for users who can create groups.'
  putApiV4GroupsId:
    type: 'object'
    properties:
      name:
        type: 'string'
        description: 'The name of the group'
      path:
        type: 'string'
        description: 'The path of the group'
      shared_runners_setting:
        type: 'string'
        description: 'Enable/disable shared runners for the group and its subgroups and projects'
        enum:
          - 'disabled_and_unoverridable'
          - 'disabled_and_overridable'
          - 'enabled'
      description:
        type: 'string'
        description: 'The description of the group'
      visibility:
        type: 'string'
        description: 'The visibility of the group'
        enum:
          - 'private'
          - 'internal'
          - 'public'
      avatar:
        type: 'file'
        description: 'Avatar image for the group'
      share_with_group_lock:
        type: 'boolean'
        description: 'Prevent sharing a project with another group within this group'
      require_two_factor_authentication:
        type: 'boolean'
        description: 'Require all users in this group to setup Two-factor authentication'
      two_factor_grace_period:
        type: 'integer'
        format: 'int32'
        description: 'Time before Two-factor authentication is enforced'
      project_creation_level:
        type: 'string'
        description: 'Determine if developers can create projects in the group'
        enum:
          - 'noone'
          - 'owner'
          - 'maintainer'
          - 'developer'
          - 'administrator'
      auto_devops_enabled:
        type: 'boolean'
        description: 'Default to Auto DevOps pipeline for all projects within this group'
      subgroup_creation_level:
        type: 'string'
        description: 'Allowed to create subgroups'
        enum:
          - 'owner'
          - 'maintainer'
      emails_disabled:
        type: 'boolean'
        description: '_(Deprecated)_ Disable email notifications. Use: emails_enabled'
      emails_enabled:
        type: 'boolean'
        description: 'Enable email notifications'
      show_diff_preview_in_email:
        type: 'boolean'
        description: 'Include the code diff preview in merge request notification emails'
      mentions_disabled:
        type: 'boolean'
        description: 'Disable a group from getting mentioned'
      lfs_enabled:
        type: 'boolean'
        description: 'Enable/disable LFS for the projects in this group'
      request_access_enabled:
        type: 'boolean'
        description: 'Allow users to request member access'
      default_branch:
        type: 'string'
        description: 'The default branch of group''s projects'
        example: 'main'
      default_branch_protection:
        type: 'integer'
        format: 'int32'
        description: 'Determine if developers can push to default branch'
        enum:
          - 0
          - 3
          - 1
          - 2
          - 4
      default_branch_protection_defaults:
        type: 'object'
        description: 'Determine if developers can push to default branch'
        properties:
          allowed_to_push:
            type: 'array'
            description: 'An array of access levels allowed to push'
            items:
              type: 'object'
              properties:
                access_level:
                  type: 'integer'
                  format: 'int32'
                  description: 'A valid access level'
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - 'access_level'
          allow_force_push:
            type: 'boolean'
            description: 'Allow force push for all users with push access.'
          allowed_to_merge:
            type: 'array'
            description: 'An array of access levels allowed to merge'
            items:
              type: 'object'
              properties:
                access_level:
                  type: 'integer'
                  format: 'int32'
                  description: 'A valid access level'
                  enum:
                    - 30
                    - 40
                    - 60
                    - 0
              required:
                - 'access_level'
          code_owner_approval_required:
            type: 'boolean'
            description: 'Require approval from code owners'
          developer_can_initial_push:
            type: 'boolean'
            description: 'Allow developers to initial push'
      enabled_git_access_protocol:
        type: 'string'
        description: 'Allow only the selected protocols to be used for Git access.'
        enum:
          - 'ssh'
          - 'http'
          - 'all'
      membership_lock:
        type: 'boolean'
        description: 'Prevent adding new members to projects within this group'
      ldap_cn:
        type: 'string'
        description: 'LDAP Common Name'
      ldap_access:
        type: 'integer'
        format: 'int32'
        description: 'A valid access level'
      shared_runners_minutes_limit:
        type: 'integer'
        format: 'int32'
        description: '(admin-only) compute minutes quota for this group'
      extra_shared_runners_minutes_limit:
        type: 'integer'
        format: 'int32'
        description: '(admin-only) Extra compute minutes quota for this group'
      wiki_access_level:
        type: 'string'
        description: 'Wiki access level. One of `disabled`, `private` or `enabled`'
        enum:
          - 'disabled'
          - 'private'
          - 'enabled'
      duo_availability:
        type: 'string'
        description: 'Duo availability. One of `default_on`, `default_off` or `never_on`'
        enum:
          - 'default_on'
          - 'default_off'
          - 'never_on'
      duo_remote_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo remote flows for this group'
      duo_foundational_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab foundational Duo flows for this group'
      duo_custom_agents_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo custom agents for this group'
      duo_custom_flows_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo custom flows for this group'
      duo_external_agents_availability:
        type: 'boolean'
        description: 'Enable GitLab Duo external agents for this group'
      tool_approval_for_session_availability:
        type: 'string'
        description: 'Tool approval for session availability. One of `default_on`, `default_off` or `never_on`'
        enum:
          - 'default_on'
          - 'default_off'
          - 'never_on'
      amazon_q_auto_review_enabled:
        type: 'boolean'
        description: 'Enable Amazon Q auto review for merge request'
      experiment_features_enabled:
        type: 'boolean'
        description: 'Enable experiment features for this group'
      model_prompt_cache_enabled:
        type: 'boolean'
        description: 'Enable model prompt cache for this group'
      foundational_agents_statuses:
        type: 'array'
        description: 'Whether each foundational agent has been enabled or disabled.'
        items:
          type: 'object'
          properties:
            reference:
              type: 'string'
              description: 'Reference of the foundational agent.'
            enabled:
              type: 'boolean'
              description: 'Whether foundational agent has been enabled or disabled.'
          required:
            - 'reference'
            - 'enabled'
      ai_settings_attributes:
        type: 'object'
        description: 'AI-related settings'
        properties:
          duo_agent_platform_enabled:
            type: 'boolean'
            description: 'Whether Duo Agent Platform features are enabled'
          duo_workflow_mcp_enabled:
            type: 'boolean'
            description: 'Enable MCP support for Duo Agent Platform'
          ai_usage_data_collection_enabled:
            type: 'boolean'
            description: 'Enable AI usage data collection for this namespace'
          ai_catalog_restricted_to_group_hierarchy:
            type: 'boolean'
            description: 'Restrict the AI Catalog to items within this top-level group hierarchy'
          foundational_agents_default_enabled:
            type: 'boolean'
            description: 'Whether new foundational agents are enabled by default'
          prompt_injection_protection_level:
            type: 'string'
            description: 'Prompt injection protection level. One of `no_checks`, `log_only` or `interrupt`'
            enum:
              - 'no_checks'
              - 'log_only'
              - 'interrupt'
          include_recommended_allowed:
            type: 'boolean'
            description: 'Whether to include recommended domains in the network access allowlist'
          allow_all_unix_sockets:
            type: 'boolean'
            description: 'Whether to allow all Unix sockets for network access'
          allow_project_extension:
            type: 'boolean'
            description: 'Whether to allow projects to extend the network access domain allowlist'
          minimum_access_level_execute:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to execute Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 10
              - 15
              - 20
              - 30
              - 40
              - 50
          minimum_access_level_execute_async:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to execute Duo Agent Platform features in CI/CD. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
          minimum_access_level_manage:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to manage Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
          minimum_access_level_enable_on_projects:
            type: 'integer'
            format: 'int32'
            description: 'The minimum access level required to enable Duo Agent Platform. This field is behind a feature flag.'
            enum:
              - 30
              - 40
              - 50
      prevent_sharing_groups_outside_hierarchy:
        type: 'boolean'
        description: 'Prevent sharing groups within this namespace with any groups outside the namespace. Only available on top-level groups.'
      step_up_auth_required_oauth_provider:
        type: 'string'
        description: 'OAuth provider required for step-up authentication. Pass empty string to disable.'
      lock_math_rendering_limits_enabled:
        type: 'boolean'
        description: 'Indicates if math rendering limits are locked for all descendent groups.'
      math_rendering_limits_enabled:
        type: 'boolean'
        description: 'Indicates if math rendering limits are used for this group.'
      max_artifacts_size:
        type: 'integer'
        format: 'int32'
        description: 'Set the maximum file size for each job''s artifacts'
      file_template_project_id:
        type: 'integer'
        format: 'int32'
        description: 'The ID of a project to use for custom templates in this group'
      prevent_forking_outside_group:
        type: 'boolean'
        description: 'Prevent forking projects inside this group to external namespaces'
      unique_project_download_limit:
        type: 'integer'
        format: 'int32'
        description: 'Maximum number of unique projects a user can download in the specified time period before they are banned.'
      unique_project_download_limit_interval_in_seconds:
        type: 'integer'
        format: 'int32'
        description: 'Time period during which a user can download a maximum amount of projects before they are banned.'
      unique_project_download_limit_allowlist:
        type: 'array'
        description: 'List of usernames excluded from the unique project download limit'
        items:
          type: 'string'
      unique_project_download_limit_alertlist:
        type: 'array'
        description: 'List of user ids who will be emailed when Git abuse rate limit is exceeded'
        items:
          type: 'integer'
          format: 'int32'
      auto_ban_user_on_excessive_projects_download:
        type: 'boolean'
        description: 'Ban users from the group when they exceed maximum number of unique projects download in the specified time period'
      ip_restriction_ranges:
        type: 'string'
        description: 'List of IP addresses which need to be restricted for group'
      allowed_email_domains_list:
        type: 'string'
        description: 'List of allowed email domains for group'
      service_access_tokens_expiration_enforced:
        type: 'boolean'
        description: 'To enforce token expiration for Service accounts users for group'
      duo_core_features_enabled:
        type: 'boolean'
        description: '[Experimental] Indicates whether GitLab Duo Core features are enabled for the group'
      duo_features_enabled:
        type: 'boolean'
        description: 'Indicates whether GitLab Duo features are enabled for the group'
      lock_duo_features_enabled:
        type: 'boolean'
        description: 'Indicates if the GitLab Duo features enabled setting is enforced for all subgroups'
      auto_duo_code_review_enabled:
        type: 'boolean'
        description: 'Enable automatic reviews by GitLab Duo on merge requests'
      web_based_commit_signing_enabled:
        type: 'boolean'
        description: 'Enable web based commit signing for this group'
      only_allow_merge_if_pipeline_succeeds:
        type: 'boolean'
        description: 'Only allow to merge if builds succeed'
      allow_merge_on_skipped_pipeline:
        type: 'boolean'
        description: 'Allow to merge if pipeline is skipped'
      only_allow_merge_if_all_discussions_are_resolved:
        type: 'boolean'
        description: 'Only allow to merge if all threads are resolved'
      enabled_foundational_flows:
        type: 'array'
        description: 'References of enabled foundational flows'
        items:
          type: 'string'
      duo_template_project_id:
        type: 'integer'
        format: 'int32'
        description: 'The ID of a project to use as the Duo Code Review custom instructions template for this group'
      allow_personal_snippets:
        type: 'boolean'
        description: 'Allow creation of personal snippets for enterprise users of this group'
      duo_namespace_access_rules:
        type: 'array'
        description: 'AI entity access rules for controlling Duo feature access'
        items:
          type: 'object'
          properties:
            through_namespace:
              type: 'object'
              description: 'Object containing through namespace information'
              properties:
                id:
                  type: 'integer'
                  format: 'int32'
                  description: 'ID of the through namespace'
                name:
                  type: 'string'
                  description: 'Name of the through namespace'
                full_path:
                  type: 'string'
                  description: 'Full path of the through namespace'
              required:
                - 'id'
            features:
              type: 'array'
              description: 'List of accessible features'
              items:
                type: 'string'
          required:
            - 'features'
      built_in_project_templates_enabled:
        type: 'boolean'
        description: 'Enable built-in project templates for project creation'
      lock_built_in_project_templates_enabled:
        type: 'boolean'
        description: 'Enforce the built-in project templates setting for all subgroups'
    description: 'Update a group. Available only for users who can administrate groups.'
  API_Entities_GroupDetail:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
      web_url:
        type: 'string'
        example: 'http://gitlab.example.com/groups/diaspora'
      name:
        type: 'string'
        example: 'Diaspora'
      path:
        type: 'string'
      description:
        type: 'string'
      visibility:
        type: 'string'
      share_with_group_lock:
        type: 'boolean'
      require_two_factor_authentication:
        type: 'boolean'
      two_factor_grace_period:
        type: 'integer'
        format: 'int32'
      project_creation_level:
        type: 'string'
      auto_devops_enabled:
        type: 'string'
      subgroup_creation_level:
        type: 'string'
      emails_disabled:
        type: 'boolean'
      emails_enabled:
        type: 'boolean'
      show_diff_preview_in_email:
        type: 'boolean'
      mentions_disabled:
        type: 'string'
      lfs_enabled:
        type: 'boolean'
      archived:
        type: 'boolean'
      math_rendering_limits_enabled:
        type: 'boolean'
      lock_math_rendering_limits_enabled:
        type: 'boolean'
      default_branch:
        type: 'string'
      default_branch_protection:
        type: 'integer'
        format: 'int32'
      default_branch_protection_defaults:
        type: 'string'
      avatar_url:
        type: 'string'
      request_access_enabled:
        type: 'boolean'
      full_name:
        type: 'string'
      full_path:
        type: 'string'
      created_at:
        type: 'string'
      parent_id:
        type: 'string'
      organization_id:
        type: 'integer'
        format: 'int32'
      shared_runners_setting:
        type: 'string'
      max_artifacts_size:
        type: 'integer'
        format: 'int32'
      custom_attributes:
        '$ref': '#/definitions/API_Entities_CustomAttribute'
      statistics:
        type: 'object'
        properties:
          storage_size:
            type: 'string'
          repository_size:
            type: 'string'
          wiki_size:
            type: 'string'
          lfs_objects_size:
            type: 'string'
          job_artifacts_size:
            type: 'string'
          pipeline_artifacts_size:
            type: 'string'
          packages_size:
            type: 'string'
          snippets_size:
            type: 'string'
          uploads_size:
            type: 'string'
        required:
          - 'storage_size'
          - 'repository_size'
          - 'wiki_size'
          - 'lfs_objects_size'
          - 'job_artifacts_size'
          - 'pipeline_artifacts_size'
          - 'packages_size'
          - 'snippets_size'
          - 'uploads_size'
      marked_for_deletion_on:
        type: 'string'
      root_storage_statistics:
        '$ref': '#/definitions/API_Entities_Namespace_RootStorageStatistics'
      ldap_cn:
        type: 'string'
      ldap_access:
        type: 'string'
      ldap_group_links:
        '$ref': '#/definitions/API_Entities_LdapGroupLink'
      saml_group_links:
        '$ref': '#/definitions/API_Entities_SamlGroupLink'
      file_template_project_id:
        type: 'string'
      wiki_access_level:
        type: 'string'
      repository_storage:
        type: 'string'
      duo_core_features_enabled:
        type: 'boolean'
        description: '[Experimental] Indicates whether GitLab Duo Core features are enabled for the group'
      duo_features_enabled:
        type: 'string'
      lock_duo_features_enabled:
        type: 'string'
      auto_duo_code_review_enabled:
        type: 'string'
      web_based_commit_signing_enabled:
        type: 'string'
      allow_personal_snippets:
        type: 'string'
      duo_namespace_access_rules:
        type: 'string'
      built_in_project_templates_enabled:
        type: 'boolean'
      lock_built_in_project_templates_enabled:
        type: 'boolean'
      shared_with_groups:
        type: 'array'
        items:
          type: 'object'
      runners_token:
        type: 'string'
        example: 'b8bc4a7a29eb76ea83cf79e4908c2b'
      enabled_git_access_protocol:
        type: 'string'
        example: 'ssh'
      prevent_sharing_groups_outside_hierarchy:
        type: 'boolean'
      step_up_auth_required_oauth_provider:
        type: 'string'
        description: 'OAuth provider required for step-up authentication.'
      projects:
        '$ref': '#/definitions/API_Entities_Project'
      shared_projects:
        '$ref': '#/definitions/API_Entities_Project'
      shared_runners_minutes_limit:
        type: 'string'
      extra_shared_runners_minutes_limit:
        type: 'string'
      prevent_forking_outside_group:
        type: 'string'
      service_access_tokens_expiration_enforced:
        type: 'string'
      experiment_features_enabled:
        type: 'string'
      membership_lock:
        type: 'string'
      ip_restriction_ranges:
        type: 'string'
      allowed_email_domains_list:
        type: 'string'
      only_allow_merge_if_pipeline_succeeds:
        type: 'string'
      allow_merge_on_skipped_pipeline:
        type: 'string'
      only_allow_merge_if_all_discussions_are_resolved:
        type: 'string'
      unique_project_download_limit:
        type: 'string'
      unique_project_download_limit_interval_in_seconds:
        type: 'string'
      unique_project_download_limit_allowlist:
        type: 'string'
      unique_project_download_limit_alertlist:
        type: 'string'
      auto_ban_user_on_excessive_projects_download:
        type: 'string'
    required:
      - 'id'
      - 'web_url'
      - 'name'
      - 'path'
      - 'description'
      - 'visibility'
      - 'share_with_group_lock'
      - 'require_two_factor_authentication'
      - 'two_factor_grace_period'
      - 'project_creation_level'
      - 'auto_devops_enabled'
      - 'subgroup_creation_level'
      - 'emails_disabled'
      - 'emails_enabled'
      - 'show_diff_preview_in_email'
      - 'mentions_disabled'
      - 'lfs_enabled'
      - 'archived'
      - 'math_rendering_limits_enabled'
      - 'lock_math_rendering_limits_enabled'
      - 'default_branch'
      - 'default_branch_protection'
      - 'default_branch_protection_defaults'
      - 'avatar_url'
      - 'request_access_enabled'
      - 'full_name'
      - 'full_path'
      - 'created_at'
      - 'parent_id'
      - 'organization_id'
      - 'shared_runners_setting'
      - 'max_artifacts_size'
      - 'marked_for_deletion_on'
      - 'ldap_cn'
      - 'ldap_access'
      - 'wiki_access_level'
      - 'shared_with_groups'
      - 'shared_runners_minutes_limit'
      - 'extra_shared_runners_minutes_limit'
      - 'prevent_forking_outside_group'
      - 'membership_lock'
    description: 'API_Entities_GroupDetail model'
  API_Entities_Project:
    type: 'object'
    properties:
      id:
        type: 'integer'
        format: 'int32'
        example: 1
      description:
        type: 'string'
        example: 'desc'
      name:
        type: 'string'
        example: 'project1'
      name_with_namespace:
        type: 'string'
        example: 'John Doe / project1'
      path:
        type: 'string'
        example: 'project1'
      path_with_namespace:
        type: 'string'
        example: 'namespace1/project1'
      created_at:
        type: 'string'
        format: 'date-time'
        example: '2020-05-07T04:27:17.016Z'
      default_branch:
        type: 'string'
        example: 'main'
      tag_list:
        type: 'array'
        items:
          type: 'string'
        example:
          - 'tag'
      topics:
        type: 'array'
        items:
          type: 'string'
        example:
          - 'topic'
      ssh_url_to_repo:
        type: 'string'
        example: 'git@gitlab.example.com:gitlab/gitlab.git'
      http_url_to_repo:
        type: 'string'
        example: 'https://gitlab.example.com/gitlab/gitlab.git'
      web_url:
        type: 'string'
        example: 'https://gitlab.example.com/gitlab/gitlab'
      readme_url:
        type: 'string'
        example: 'https://gitlab.example.com/gitlab/gitlab/blob/master/README.md'
      forks_count:
        type: 'integer'
        format: 'int32'
        example: 1
      license_url:
        type: 'string'
        example: 'https://gitlab.example.com/gitlab/gitlab/blob/master/LICENCE'
      license:
        '$ref': '#/definitions/API_Entities_LicenseBasic'
      avatar_url:
        type: 'string'
        example: 'http://example.com/uploads/project/avatar/3/uploads/avatar.png'
      star_count:
        type: 'integer'
        format: 'int32'
        example: 1
      last_activity_at:
        type: 'string'
        format: 'date-time'
        example: '2013-09-30T13:46:02Z'
      visibility:
        type: 'string'
        example: 'public'
      namespace:
        '$ref': '#/definitions/API_Entities_NamespaceBasic'
      custom_attributes:
        '$ref': '#/definitions/API_Entities_CustomAttribute'
      repository_storage:
        type: 'string'
        example: 'default'
      forked_from_project:
        '$ref': '#/definitions/API_Entities_BasicProjectDetails'
      container_registry_image_prefix:
        type: 'string'
        example: 'registry.gitlab.example.com/gitlab/gitlab-client'
      _links:
        type: 'object'
        properties:
          self:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4'
          issues:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/issues'
          merge_requests:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/merge_requests'
          repo_branches:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/repository/branches'
          labels:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/labels'
          events:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/events'
          members:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/members'
          cluster_agents:
            type: 'string'
            example: 'https://gitlab.example.com/api/v4/projects/4/cluster_agents'
        required:
          - 'self'
          - 'repo_branches'
          - 'labels'
          - 'events'
          - 'members'
          - 'cluster_agents'
      marked_for_deletion_at:
        type: 'string'
        format: 'date-time'
        example: '2020-05-07T04:27:17.016Z'
      marked_for_deletion_on:
        type: 'string'
        format: 'date-time'
        example: '2020-05-07T04:27:17.016Z'
      packages_enabled:
        type: 'boolean'
      empty_repo:
        type: 'boolean'
      archived:
        type: 'boolean'
      owner:
        '$ref': '#/definitions/API_Entities_UserBasic'
      resolve_outdated_diff_discussions:
        type: 'boolean'
      container_expiration_policy:
        '$ref': '#/definitions/API_Entities_ContainerExpirationPolicy'
      repository_object_format:
        type: 'string'
        example: 'sha1'
      issues_enabled:
        type: 'boolean'
      merge_requests_enabled:
        type: 'boolean'
      wiki_enabled:
        type: 'boolean'
      jobs_enabled:
        type: 'boolean'
      snippets_enabled:
        type: 'boolean'
      container_registry_enabled:
        type: 'boolean'
      service_desk_enabled:
        type: 'boolean'
      service_desk_address:
        type: 'string'
[...]
