openapi: 3.0.3
info:
  title: pandora
  version: 1.18.0-q1779717693
  description: Frontend/orchestrator API for the CAPE malware sandbox
paths:
  /api/v1/idrs/{idrs}/analysis/filename/:
    post:
      operationId: v1_idrs_analysis_filename_create
      parameters:
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/analysis/filename/{filename}/:
    post:
      operationId: v1_idrs_analysis_filename_create_2
      parameters:
      - in: path
        name: filename
        schema:
          type: string
        required: true
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/analysis/sha256/:
    post:
      operationId: v1_idrs_analysis_sha256_create
      parameters:
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/analysis/url/{url}/:
    post:
      operationId: v1_idrs_analysis_url_create
      parameters:
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      - in: path
        name: url
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/tasks/list/:
    get:
      operationId: v1_idrs_tasks_list_retrieve
      parameters:
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/tasks/report/{id}/full/:
    get:
      operationId: v1_idrs_tasks_report_full_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/tasks/report/{id}/summary/:
    get:
      operationId: v1_idrs_tasks_report_summary_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
  /api/v1/idrs/{idrs}/tasks/status/{id}/:
    get:
      operationId: v1_idrs_tasks_status_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      - in: path
        name: idrs
        schema:
          type: string
        required: true
      tags:
      - v1
      security:
      - ElmecOIDC: []
      - ElmecServiceOIDC: []
      - ElmecStaticToken: []
      responses:
        '200':
          description: No response body
components:
  securitySchemes:
    ElmecOIDC:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "JWT"
    ElmecServiceOIDC:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ElmecStaticToken:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "STATIC"
servers:
- url: https://quality-pandora.k8s.elmec.ad
  description: pandora server
